#navbar{
	background-color: #570606;
	border-style: none;
}
#brand-img{
	height: 45px;
	margin-top: -13px;
}
.navbar-link{
	font-size: 16px;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
}
.navbar-link:hover{
	color: #d8d8d8;
}
.navbar-social-icon{
	height: 20px;
}
.navbar-social-wrapper{
	width: 40px;
	text-align: center;
}