.sponsors-row{
	padding-top: 50px;
	padding-bottom: 20px;
}
.sponsors-title{
	font-size: 42px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
}
.sponsors-text{
	font-size: 18px;
}
.past-sponsors-row{
	padding-top: 0px;
	padding-bottom: 50px;
}

.past-sponsors-img{
	display: inline-block;
	max-height: 125px;
	padding:20px 20px;
    max-width: 200px;
}
.spons{
   text-align: center;
   margin-bottom: -80px;
}
.spons-logo-img{
    margin-top: -40px;
    margin-bottom: -20px;
    text-align: center;
}
.future-sponsor-row{
    margin-bottom: 30px;
}
.spons-text{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}